# Azure creds for the small model
AZURE_BASE_URL_SMALL=
AZURE_API_VERSION_SMALL=
AZURE_API_KEY_SMALL=
AZURE_DEPLOYMENT_NAME_SMALL=

# Azure creds for the large model
AZURE_BASE_URL_LARGE=
AZURE_API_VERSION_LARGE=
AZURE_API_KEY_LARGE=
AZURE_DEPLOYMENT_NAME_LARGE=

# Azure creds for the deepseek (reasoning) model
AZURE_BASE_URL_REASONING=
AZURE_API_KEY_REASONING=
AZURE_DEPLOYMENT_NAME_REASONING=

# Azure creds for the image model
AZURE_BASE_URL_IMAGE=
AZURE_API_KEY_IMAGE=

# Azure CosmosDB for Postgres credentials
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Azure Blob storage credentials
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=
